html {
    background-color: #F8F8F8;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

body {
    width: 100%;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}


#main {
    // height: 100%;
}

.file-input {
    display: none !important;
}

#file-app {
    .upload-snippet {
        display: none;
    }

    .upload-snippet-alert {
        display: none;
        color: #C09853;
        font-size: 120%;
        line-height: 13px;
        vertical-align: middle;
    }

    .upload-snippet-count {
    }

    .navbar {
        margin: 20px 0px;
        background-color: rgba(250, 250, 250, 0.93);
    }

    .navbar-inner {
        border-radius: 0;
        background: transparent;
    }
}

#fileAppViewWrapper {
    padding: 0px;
}


#uploaderView {
    background-color: rgba(250, 250, 250, 0.93);
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
}

#file-info-wrapper {
    // padding-bottom: 50px;
    .tab-content {
        background-color: rgba(250, 250, 250, 0.93);
    }

    .nav.nav-tabs > li {
        float: right;
    }

    .nav.nav-tabs > li a {
        background-color: rgba(250, 250, 250, 0.93);
    }

    .nav.nav-tabs {
        margin-bottom: 0px;
    }
}

#file-app .upload-file-list, .file-list {
    list-style: none;

    > li {
        line-height: 3em;
    }

    > li:hover .file-select.icon-check-empty {
        opacity: 1.0;
    }

    .file-selector, .file-title, .file-meta {
        display: inline-block;
    }

    .file-selector {
        // width: 5%;
        text-align: center;
        vertical-align: bottom;
    }

    .file-title {
        font-weight: 300;
        font-size: 150%;
        // width: 82%;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }

    .file-meta {
        // opacity: 0.8;
        // width: 12%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        font-size: 90%;
        font-weight: 300;
    }
}

#uploaderView .upload-file-list {
    box-shadow: 0 1px 1px #DDDDDD;
    max-height: 16em;
    overflow: auto;

    li:nth-child(odd) {
        background-color: #F7F5FA;
    }
}

