html {
    background-color: #F8F8F8;
    height: 100%;
    overflow-y: scroll;
}

body {
    width: 100%;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

#header {

    #header-navigation {
        background-color: #FFFFFF;
        background-image: -moz-linear-gradient(center top , #FFFFFF, #F0F0F0);
        background-image: -webkit-linear-gradient(top, #FFFFFF, #F0F0F0);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        display: block;
        line-height: 0;
        width: 100%;
        height: 40px;
        position: relative;
        z-index: 9001;
        transition: all 0.5s ease-out 0s;
        margin-top: 0px;
    }

    #user-options {
        background: none repeat scroll 0 0 #373230;
        box-shadow: 0 -30px 30px -20px rgba(0, 0, 0, 0.33) inset;
        height: 0px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -100;

        .content {
            text-align: center;
            height: 100%;
        }

        a {
            display: inline-block;
            height: 100%;
            width: 90px;
            position: relative;

            div {
                height: 100%;
                position: absolute;
                width: 100%;
            }

            span {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0.53);
                bottom: 0;
                color: #FFFFFF;
                left: 0;
                position: absolute;
                right: 0;            }
        }
    }
}

#main {
    // height: 100%;
}

#search-content {

}

#search-header {
    // background-color: #FFFFFF;
    // border-bottom: 2px solid #F0F0F0;
    // height: 40px;
    padding-top: 20px;
    // display: none;
}

#search-body {
    background-color: #FFFFFF;
    border-bottom: 2px solid #F0F0F0;
    height: 120px;
    padding-top: 40px;
}

.file-input {
    display: none !important;
}

#file-app {
    .upload-snippet {
        display: none;
    }

    .upload-snippet-alert {
        display: none;
        color: #C09853;
        font-size: 120%;
        line-height: 13px;
        vertical-align: middle;
    }

    .upload-snippet-count {
    }

    .navbar {
        margin: 20px 0px;
        background-color: rgba(250, 250, 250, 0.93);
    }

    .navbar-inner {
        border-radius: 0;
        background: transparent;
    }
}

#fileAppViewWrapper {
    padding: 0px;
}


#uploaderView {
    background-color: rgba(250, 250, 250, 0.93);
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
}

#file-info-wrapper {
    // padding-bottom: 50px;
    .tab-content {
        background-color: rgba(250, 250, 250, 0.93);
    }

    .nav.nav-tabs > li {
        float: right;
    }

    .nav.nav-tabs > li a {
        background-color: rgba(250, 250, 250, 0.93);
    }

    .nav.nav-tabs {
        margin-bottom: 0px;
    }
}

#file-app .upload-file-list, .file-list {
    list-style: none;

    > li {
        line-height: 3em;
    }

    > li:hover .file-select.icon-check-empty {
        opacity: 1.0;
    }

    .file-selector, .file-title, .file-meta {
        display: inline-block;
    }

    .file-selector {
        // width: 5%;
        text-align: center;
        vertical-align: bottom;
    }

    .file-title {
        font-weight: 300;
        font-size: 150%;
        // width: 82%;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }

    .file-meta {
        // opacity: 0.8;
        // width: 12%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        font-size: 90%;
        font-weight: 300;
    }
}

#uploaderView .upload-file-list {
    box-shadow: 0 1px 1px #DDDDDD;
    max-height: 16em;
    overflow: auto;

    li:nth-child(odd) {
        background-color: #F7F5FA;
    }
}

#providerView {
    background-color: rgba(250, 250, 250, 0.93);
    border: 1px solid #D4D4D4;
}

#providerView .file-list {
    min-height: 30em;

    li:nth-child(odd) {
        background-color: rgba(217, 237, 247, 0.2);
    }

    .file-meta {

        .file-who-info {
            display: none;
        }

        .file-when-info {
            display: inline-block;
        }

        .file-kind-info {
            display: none;
        }

        .file-where-info {
            display: none;
        }
    }

    .file-select.icon-check-empty {
        opacity: 0.4;
    }

    .file-select.icon-check {
        opacity: 1.0;
    }

}

// .tab-content {
//     background-color: white;
// }



#file-info-wrapper .file-tab-section {
    ul {
        margin: 0px;
    }

    li {
        list-style: none;
    }

    li div.value {
        padding-bottom: 4px;
        margin-bottom: 10px;
    }

    label.header {
        padding-right: 10px;
        font-size: 200%;
        font-weight: 300;
        padding: 20px;
        border-left: 2px solid transparent;
        transition: border 0.2s linear 0s;
        margin-bottom: 15px;
    }

    .well {
        margin-bottom: 10px;
        border: none;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0 0 10px;
    }

    .input-prepend, .input-append {
        width: 100%;
    }

    .add-on {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: medium none;
        padding-right: 0;
        padding-top: 0;
    }

    input[type="text"].read-only {
        border: medium none;
    }

    input[type="text"] {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-left: medium none;
        border-top: medium none;
        border-right: medium none;
        border-radius: 0 0 0 0;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        text-overflow: ellipsis;
    }
    // input[type="text"]:focus {
    //     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
    // }
}

#file-info-wrapper #file-download-section {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin-bottom: 0;
    // text-align: right;
    padding-bottom: 20px;

    .file-download-item {
        padding-left: 40px;
    }

    .file-download-link {
        font-size: 150%;
        font-weight: 300
    }

    .file-meta {
        font-weight: normal;
        opacity: 0.4;
        margin-right: 10px;
    }

    &:hover {
        .file-meta {
            opacity: 0.8;
        }

        label.header {
            border-left-color: #049cdb;
        }
    }
}

#file-info-wrapper #file-share-section {
    border: 1px solid #DDDDDD;
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 26em;

    &:hover label.header {
        border-left-color: #468847;
    }

    #file-share-links {
        max-height: 20em;
        overflow: auto;
        min-height: 15em;
        padding: 0px;
    }

    li {
        line-height: 30px;
        position: relative;
        // padding-left: 10px;
    }

    li:nth-child(odd) {
        background-color: rgba(223, 240, 221, 0.3);
    }

    li:hover, li:focus {
        // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        // background-color: rgba(223, 240, 221, 0.5);
    }

    li:hover .file-share-link-help {
        visibility: visible;
    }

    li:focus .file-share-link-help {
        visibility: visible;
    }

    .file-share-link > input:focus+.file-share-link-help {
        visibility: visible;
    }

    .file-share-selector {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 10px;
    }

    .file-share-link {
        display: inline-block;
        width: 90%;
        padding: 0 10px;
        vertical-align: top;
    }

    .file-share-link-help {
        opacity: 0.8;
        font-size: 80%;
        text-align: right;
        visibility: hidden;
        padding: 0 10px;
    }


    .file-share-remove {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        display: none;
    }

    input[type="text"].read-only {
        width: 100%;
        font-weight: 300;
        font-size: 150%;
        height: 1.2em;
    }

    .expired {
        text-decoration: line-through;
        opacity: 0.6;
    }

}

#file-info-wrapper #file-share-create-section {
    .brand {
        padding: 10px;
    }
}

#file-info-wrapper .file-content-preview {
    text-align: center;
}

#link-app {

    .navbar {
        background-color: rgba(250, 250, 250, 0.93);
        margin: 20px 0;
    }

    .navbar-inner {
        border-radius: 0;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}

#linkAppViewWrapper {
    padding: 0px;
}
