body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
body {
  padding-top: 50px;
  padding-bottom: 70px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.file-input {
    display: none !important;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"]{
  padding-right: 0;
  padding-left: 0;
}

#content {
    padding: 0px;
}

#fileAppViewWrapper {

}

#actionbar {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
    margin-bottom: 0;
    min-height: auto;
}

#navigationbar {
    border-left: none;
    border-right: none;
    border-radius: 0;
    background: none repeat scroll 0 0 transparent;
    font-size: 75%;
    margin-bottom: 0;
    min-height: auto;
}

#breadcrumb-wrapper .navbar-toggle {
    margin: 0px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 100%;
}

#breadcrumb {
    font-weight: 300;
    font-size: 150%;
    margin-top: 0px;
}

#breadcrumb > li + li:before {
    color: #cccccc;
    content: "/ ";
    // padding: 0 5px;
    position: absolute;
    top: 10px;
}

#breadcrumb.collapse.in > li + li:before {
    content: "";
}

#breadcrumb.collapsing > li + li:before {
    content: "";
}

#breadcrumb > li > a {
    padding: 10px;
}

#providerView {
    margin-left: -15px;
    margin-right: -15px;
}

#providerView .file-list {
    min-height: 30em;

    li:nth-child(odd) {
        background-color: rgba(217, 237, 247, 0.2);
    }

    list-style: none;

    > li {
        line-height: 3em;
    }

    > li:hover .file-select.icon-check-empty {
        opacity: 1.0;
    }

    .file-selector, .file-title, .file-meta {
        display: inline-block;
    }

    .file-selector {
        text-align: center;
        vertical-align: bottom;
    }

    .file-title {
        font-weight: 300;
        font-size: 150%;
        // width: 82%;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }

    .file-meta {
        // opacity: 0.8;
        // width: 12%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        font-size: 90%;
        font-weight: 300;
    }

}

#navigationbar {

}

#navigationbar .btn-group + .btn-group {
    margin-left: 10px;
}
