<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Celery - Files</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/static/css/index.css" rel='stylesheet' type="text/css">
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    <style>
        body {
            background-image: url({{ config.COLORLOVERS_LINK }});
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            background-color: #ffffff;

        }

        a {
            /*color: #85A7BA;*/
        }

    </style>
</head>
<body>
    <div id="header">
        <div id="header-navigation">
            <div class="content clearfix">
            </div>
        </div>
        <div id="user-options"></div>
    </div>
    <div id="main">
        {% block content %}
        <div id="file-app" class="container-fluid"></div>
        {% endblock %}
    </div>
    <div id="footer"></div>
    {% include 'templates.html' %}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/static/js/polyfills.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/underscore.min.js"></script>
    <script type="text/javascript" src="/static/js/backbone.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
