{% raw %}
<script type="text/template" id="file-app-template">
  <div id="fileAppViewWrapper" class="col-md-10 col-md-offset-1"></div>
</script>

<script type="text/template" id="link-app-template">
    <div class="row">
        <div id="linkAppViewWrapper" class="col-md-10 col-md-offset-1"></div>
    </div>
</script>

<script type="text/template" id="files-base-template">
    <div id="actionbar" class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="dropdown active">
              <a href="/files/" class="dropdown-toggle" data-toggle="dropdown">My Files <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/files/?kind=document">Documents</a></li>
                <li><a href="/files/?kind=image">Images</a></li>
                <li class="divider"></li>
                <li><a href="/files/?by=all">Everyone&lsquo;s Files</a></li>
              </ul>
            </li>
          </ul>
          <div class="btn-group navbar-right">
            <button id="upload-btn" class="upload-btn navbar-btn btn btn-info">
                <i class="icon-upload"></i>
                <span>Upload</span>
            </button>
          </div>
        </div>
    </div>
    <div id="uploaderView"></div>
    <div id="providerView"></div>
    <div id="navigationbar" class="navbar navbar-default">
        <div class="col-xs-7 col-md-9">
          <div class="btn-group">
            <button id="select-toggle" class="btn navbar-btn" href="#">
                <i class="icon-check-empty file-select">
                    <input type="checkbox" style="display: none">
                </i>
            </button>
            <button id="delete-btn" class="btn navbar-btn disabled">
                <i class="icon-trash"></i>
                <span style="display: none">Delete</span>
            </button>
            <button id="share-btn" class="btn navbar-btn disabled">
                <i class="icon-share-alt"></i>
                <span class="hidden-xs">Share</span>
            </button>
          </div>
        </div>
        <div class="col-xs-5 col-md-3">
          <div class="" style="text-align: right">
            <div class="btn-group">
              <button id="prev" type="button" class="btn navbar-btn btn-info">
              <i class="icon-chevron-left"></i>
              <span class="hidden-xs">Previous</span>
              </button>
              <button id="next" type="button" class="btn navbar-btn btn-info">
              <span class="hidden-xs">Next</span>
              <i class="icon-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
    </div>

</script>

<script type="text/template" id="upload-file-template">
    <div class="col-xs-9 col-md-11 .col-md-offset-1 file-title">
      <span><%=title %></span>
    </div>

    <div class="col-xs-3 col-md-1 file-meta">
      <div class="upload-file-progress">
          <span class="percent">
              Q
          </span>
      </div>
    </div>
</script>

<script type="text/template" id="file-template">
    <div class="col-xs-1 col-sm-1 col-md-1 file-selector">
        <i class="icon-check-empty file-select" ><input type="checkbox" data-id="<%= id %>" style="display: none"/>
        </i>
    </div>

    <div class="col-xs-11 col-sm-9 col-md-9 file-title">
      <a href="/files/<%= id %>" class="file-link"><%=title %></a>
    </div>

    <div class="hidden-xs col-sm-2 col-md-2 file-meta">
      <span class="file-when-info"></span>
    </div>
</script>

<script type="text/template" id="file-base-template">
    <div id="file-info-wrapper">
        <h1><%- title%></h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a id="tab-about" href="#tab-about-pane" data-toggle="tab">About</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active row" id="tab-about-pane">
                // About Content
            </div>
            <div class="tab-pane" id="tab-versions-pane">
                // Versions
            </div>
            <div class="tab-pane row" id="tab-usage-pane">
                // Usage
            </div>
        </div>
        <div id="file-share-create-section" class="navbar nav">
          <div class="col-xs-2">
            <div class="input-group">
              <button id="delete-shares-button" class="btn btn-default disabled navbar-btn">
                  <i class="icon-trash"></i>
                  <span class="hidden-xs">Delete</span>
              </button>
            </div>
          </div>
          <div class="col-xs-10">
            <div class="navbar-right">
              <div class="input-group" style="margin: 8px 0px;">
                <input id="create-share-link-input" type="text" class="form-control"
                    placeholder="2d(days), 3m(mins) or 4h(hours)">
                <span class="input-group-btn">
                  <button id="create-share-link-button" class="btn btn-success" type="button">Create</button>
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
</script>

<script type="text/template" id="file-info-about-template">
    <div class="col-md-12 file-tab-section">
        <div id="file-download-section" class="well">
            <label class="header">Download</label>
            <div class="file-download-item">
                <a class="file-download-link" target="_blank"
                    href="<%= id+'/download' %>">
                        <span><%= title %></span>
                </a>
                <span class="file-meta">
                    &nbsp;
                    -rw-rw---
                    &nbsp;
                    <span id="file-links-count"></span>
                    &nbsp;
                    <abbr id="file-owner" title="Uploaded By Abhi"></abbr>
                    &nbsp;
                    public
                    &nbsp;
                    <%= size_h %>
                    &nbsp;
                    <%= created_h %>
                </span>
            </div>
        </div>
        <div id="file-share-section" class="well">
            <label class="header">Share</label>
            <ul id="file-share-links"></ul>
        </div>
    </div>
</script>

<script type="text/template" id="file-info-usage-template">
    <div class="col-md-12 file-tab-section">
        <div>
            <div class="tab-content" style="height: 110px;">
                <div class="tab-pane active" id="tab-curl">
                    <div>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    </div>
                </div>
                <div class="tab-pane" id="tab-wget">
                    <div>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    </div>
                </div>
                <div class="tab-pane" id="tab-ps">
                    <div>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills">
                <li class="active"><a href="#tab-curl" data-toggle="tab">curl</a></li>
                <li><a href="#tab-ps" data-toggle="tab">ps</a></li>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="file-views-link">
    <li>
        <a target="_blank" href="<%= link %>"><%=title %>
    </li>
</script>

<script type="text/template" id="file-version-template">
    <li>{{id}} at {{ts}}</li>
</script>

<script type="text/template" id="file-info-versions-template">
    <ul id="file-versions-container"></ul>
    <input id="new-version-input" type="file"/>
</script>

<script type="text/template" id="user-inline-template">
    <%= nick %>
</script>

<script type="text/template" id="file-share-link-template">
    <div class="file-share-selector">
        <i class="icon-check-empty file-share-select" >
            <input type="checkbox" data-id="<%= id %>" style="display: none"/>
        </i>
    </div>
    <div class="file-share-link">
        <input type="text" class="read-only <% if (expired) {%>expired<% } %>" value="<%= linkUrl %>" readonly
            onClick="this.select();"/>
        <div class="file-share-link-help">
            <% if (expired) {%>
                <span>this link has expired.</span>
            <%} %>
            <a href="/link/<%= id %>">know more.</a>
        </div>
    </div>
    <div class="file-share-remove">
        <i class="icon-remove"></i>
    </div>
</script>

<script type="text/template" id="link-base-template">
    <div id="link-info-wrapper" >
        <div class="navbar">
            <div class="container-fluid" style="padding: 0px; position: relative">
              <div class="col-xs-6 col-md-6">
                <div class="media">
                  <a class="pull-left navbar-btn" href="#">
                    <img class="media-object" style="height:32px" src="<%= owner.avatar_url%>"
                      alt="<%= owner.first_name%>">
                  </a>
                  <div class="media-body">
                    <span class="media-heading hidden-xs">
                      <%= owner.first_name%> shared this link
                    </span>
                  </div>
                  <div class="media-body" style="margin-top: 5px;">
                    <span class="media-heading hidden-xs">
                      This link expires in 5 minutes
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-md-6" style="text-align: right;">
                  <div class="btn-group navbar-btn upload-indicator navbar-right">
                      <button class="upload-btn btn btn-default upload-snippet-count">
                          <input type="file" class="file-input" />
                          <i class="icon-upload"></i>
                          <span class="btn-label hidden-xs">Upload</span>
                          <div class="progress">
                              <div style="width: 0%;" class="progress-bar"></div>
                          </div>
                      </button>
                      <button id="link-search-btn" class="btn btn-default">
                          <i class="icon-search"></i>
                      </button>
                      <button id="link-configure-btn" class="btn btn-success">
                          <i class="icon-cog"></i>
                      </button>
                  </div>
              </div>
              <ul id="link-messages" class="nav"></ul>
            </div>
            <div id="link-configure" class="container-fluid"></div>
        </div>
        <div style="border: 1px solid #D4D4D4; position: relative;">
            <div id="link-search-targets" class="list-group col-xs-1 col-md-1"></div>
            <div id= "link-targets" class="list-group col-md-12"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</script>

<script type="text/template" id="link-target-template">
    <div class="target-title">
        <a href="<%= url %>"><%= title %></a>
        <i class="icon-trash target-delete" style=""></i>
    </div>
    <div class="target-meta">
        <div class="target-type">
            <i class="icon-credit-card"></i>
        </div>
        &bull;
        <div class="target-size"><%= size_h %></div>
        &bull;
        <div class="target-created"><%= created_h %></div>
        &bull;
        <span><%= count %> times</span>
    </div>
    <div class="target-description">
        <p>
            Lorem Ipsum
        </p>
    </div>
    <div class="target-actions">
        <% if (!approved) {%>
            <a class="target-approve" href="#">Approve</a>
            &#47;
        <%} %>
        <a href="<%= url %>">Download</a>
    </div>
</script>

<script type="text/template" id="link-search-target-template">
  <a class="list-group-item" data-id="<%= id %>" href="#">
  <span><%= title %></span>
  <button aria-hidden="true" class="close" type="button"><i class="icon-chevron-right"></i></button>
  </a>
</script>

<script type="text/template" id="link-configure-template">
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Sharing
      <% if (expired) {%>
          <button id="toggle-sharing" class="btn btn-xs btn-default pull-right" href="#">Start</button>
      <%} else {%>
          <button id="toggle-sharing" class="btn btn-xs btn-default pull-right" href="#">Stop</button>
      <%}%>
      </h3>
    </div>
    <div class="panel-body">
      <div>&nbsp;
        <span id="expires_in" class="pull-right"><%= expired_h %></span>
      </div>
      <div> Extend by another
        <input type="hidden" name="expires_in" value="<%= expires_in %>" />
        <input type="text" id="expiry" class="input-sm" placeholder="3h/2d" pattern="[0-9]{0,3}[H,M,D,h,m,d]{1}"/>
      </div>
    </div>
    <div class="panel-footer">Enable Sharing options</div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Downloads
      <% if (allow_downloads) {%>
          <button id="toggle-downloads" class="btn btn-xs btn-default pull-right" href="#">Stop</button>
      <%} else {%>
          <button id="toggle-downloads" class="btn btn-xs btn-default pull-right" href="#">Allow</button>
      <%}%>
      </h3>
    </div>
    <div class="panel-body">
      <input type="hidden" name="allow_downloads" value="<%= allow_downloads %>" />
      <div>
        <span>Allow<span>
        <input type="hidden" name="max_target_downloads" value="<%= max_target_downloads %>" />
        <input id="max_target_downloads" type="number" min="0" value="<%= max_target_downloads_h %>" class="input-sm" placeholder="&infin;" pattern="[0-9]+"/>
        downloads of a file.
      </div>
    </div>
    <div class="panel-footer">Limit what your visitors may download.</div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Uploads
      <% if (allow_uploads) {%>
          <button id="toggle-uploads" class="btn btn-xs btn-default pull-right" href="#">Stop</button>
      <%} else {%>
          <button id="toggle-uploads" class="btn btn-xs btn-default pull-right" href="#">Allow</button>
      <%}%>
      </h3>
    </div>
    <div class="panel-body">
      <input type="hidden" name="allow_uploads" value="<%= allow_uploads %>" />
      <div>
        <div>
          Maximum size of a file that can be uploaded
          <input type="hidden" name="max_upload_size" value="<%= max_upload_size %>" />
          <input id="max_upload_size" type="text" class="input-sm" value="<%= max_upload_size_h %>" placeholder="300K, 20M or 1G" pattern="[0-9.]{0,3}[K,M,G,k,m,g]{1}" />
        </div>
        <div>
            Maximum number of uploads allowed
            <input type="hidden" name="max_uploads" value="<%= max_uploads %>" />
            <input id="max_uploads" type="number" class="input-sm" value="10" min="0" value="<%= max_uploads %>" placeholder="number"  pattern="[0-9]+" />
        </div>
      </div>
    </div>
    <div class="panel-footer">Limits on files that your visitors may upload.</div>
  </div>
</div>
</script>

<script type="text/template" id="links-base-template">
    <div id="actionbar" class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Links</a>
            <ul class="nav pull-right">
            </ul>
        </div>
    </div>
    <div style="background-color: rgba(250, 250, 250, 0.93);">
        <div class="file-list" style="padding-left: 50%">
            <p style="display: table-cell; height: 30em; vertical-align: middle">
                List Links here
            </p>
        </div>
    </div>
    <div id="navigationbar" class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="link-message-template">
    <div class="link-message-container alert alert-<%= type %> alert-dismissable">
      <button type="button" class="close link-close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <span class="link-message"><%= message %></span>
      <% if (undo) {%>
          <span class="link-undo alert-link">Undo</span>
      <%} %>
    </div>

</script>

{% endraw %}
