{% raw %}

<script type="text/template" id="files-sidebar-template">
  <ul id="bucket-popular" class="nav nav-sidebar">
    <li class="active">
      <a href="#">
        <span><%=bucket %></span>
        <span class="sr-only">(current)</span>
      </a>
    </li>
  </ul>
  <ul id="bucket-list" class="nav nav-sidebar"></ul>
</script>

<script type="text/template" id="files-sidebar-bucket-template">
  <li><a href="/bucket/<%=id %>"><%=account %>/<%=id %></a></li>
</script>

<script type="text/template" id="files-provider-template">
    <div class="row no-gutters">
        <div id="breadcrumb-wrapper" class="col-xs-12 col-md-12">
        </div>
    </div>
    <div id="uploaderView">
      <div id="uploadListView"></div>
    </div>
    <div id="providerView" style="position: relative">
      <div id="providerListView" class="file-list container-fluid"></div>
      <div id="providerHelperView" class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="height: 100%; position: absolute; top:0; right:0; "></div>
    </div>
    <div id="navigationbar" class="navbar navbar-fixed-bottom">
        <div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-2">

          <div class="btn-group">
            <button id="select-toggle" class="btn navbar-btn">
                <i class="el-icon-check-empty file-select">
                    <input type="checkbox" style="display: none">
                </i>
            </button>
            <button id="edit-btn" class="btn navbar-btn disabled"
              title="Edit selected files and folders">
                <i class="el-icon-pencil"></i>
            </button>
          </div>

          <div class="btn-group">
            <button id="copy-btn" class="btn navbar-btn disabled"
              title="Copy selected files and folders">
                <i class="el-icon-fork"></i>
            </button>
            <button id="move-btn" class="btn navbar-btn disabled"
              title="Move selected files and folders">
                <i class="el-icon-fullscreen"></i>
            </button>
            <button id="paste-btn" class="btn navbar-btn disabled"
              title="Paste here">
                <i class="el-icon-return-key"></i>
            </button>
          </div>

          <div class="btn-group">
            <button id="delete-btn" class="btn navbar-btn disabled"
              title="delete selected files and folders">
                <i class="el-icon-trash"></i>
            </button>
          </div>

        </div>
    </div>
</script>

<script type="text/template" id="app-template">
  <div class="hidden-xs" style="padding-top: 20px;"></div>
  <div id="fileAppViewWrapper"></div>
</script>

<script type="text/template" id="upload-file-template">
    <div class="col-xs-9 col-md-11 .col-md-offset-1 file-title">
      <span><%=title %></span>
    </div>

    <div class="col-xs-3 col-md-1 file-meta">
      <div class="upload-file-progress">
          <span class="percent">
              Q
          </span>
      </div>
    </div>
</script>

<script type="text/template" id="file-template">
    <div class="col-xs-1 col-sm-1 col-md-1 file-selector">
        <i class="el-icon-check-empty file-select" ><input type="checkbox" data-id="<%= title %>" style="display: none"/>
        </i>
    </div>

    <div class="col-xs-10 col-sm-9 col-md-9 file-title">
      <a href="/bucket/<%= bucket %>/<%= id %>" class="file-link">
        <%=title %>
      </a>
    </div>

    <div class="hidden-xs col-sm-2 col-md-2 file-meta">
      <span class="file-when-info"></span>
    </div>
</script>

<script type="text/template" id="file-meta-template">
  <div>Show some info <%=title %></div>
</script>

<script type="text/template" id="file-views-link">
    <li>
        <a target="_blank" href="<%= link %>"><%=title %>
    </li>
</script>

<script type="text/template" id="file-bread-template">
  <div class="navbar-header">
    <button aria-controls="navbar" aria-expanded="false" data-target="#breadcrumb" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
      <span><%= folder %></span>
      <span class="caret"></span>
    </button>
  </div>
  <ul id="breadcrumb" class="nav navbar-nav navbar-collapse collapse">
    <li class="home"><a id="/" href="#">#</a></li>
  </ul>
</script>

<script type="text/template" id="file-bread-link-template">
    <li class="folder"><a id="<%= title %>" href="#"><%= title %></a></li>
</script>

<script type="text/template" id="file-version-template">
    <li>{{id}} at {{ts}}</li>
</script>

<script type="text/template" id="file-info-versions-template">
    <ul id="file-versions-container"></ul>
    <input id="new-version-input" type="file"/>
</script>

{% endraw %}
